# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.x
*.out
*.app

# Ignore these files anywhere in the tree
*.pyc
*.v3breakpoints
*.swp
*.sublime-workspace
*~

# Ignore the contents of these directories
gsw/
cvmix/
fms/
geokdtree/
mom6/
mom6_da_hooks/
[Bb]uild*/
